# Ignore bundler config.
/.bundle

#Ignore the default Postgresql database
/db/*.postgres

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
.ruby-version
