<form class="name-area navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="名前を登録して下さい" required>
    </div>
    <button type="submit" class="btn btn-xs btn-success">登録</button>
</form>
