<div>
  <div>
    <div class="name-area navbar-right">
    <% if user_signed_in? %>
        ようこそ！<span class="registed_user_name"><%= current_user.user_name %></span>さん
        <span style="margin-left:1em">
          <%= link_to "Sign out", :destroy_user_session, method: :delete %>
        </span>
    <% else %>
      <li><%= link_to "Sign up", :new_user_registration %></li>

      <!-- 送信先を指定してください -->
      <li><%= link_to "Sign in", :new_user_session %></li>
    <% end %>
    </div>
  </div>
</div>
