<div>
  <div>
    <div class="name-area navbar-right">
    <% if user_signed_in? %>
        ようこそ！<span class="registed_user_name"><%= current_user.user_name %></span>さん
        <%= link_to "ログアウト", :destroy_user_session, method: :delete %>

    <% else %>
      <li><%= link_to "新規登録", :new_user_registration %></li>

      <!-- 送信先を指定してください -->
      <li><%= link_to "ログイン", :new_user_session %></li>
    <% end %>
    </div>
  </div>
</div>
