<ul class="social-button-syncer">
  <!-- Twitter -->
  <li class="sc-tw"><a data-url="" href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="vertical" data-dnt="true">ツイート</a></li>
  <!-- Facebook -->
  <li class="sc-fb"><div class="fb-like" data-href="" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
  <!-- Google+ -->
  <li><div data-href="" class="g-plusone" data-size="tall"></div></li>
  <!-- pocket -->
  <li><a data-save-url="" data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a></li>
</ul>
