<script type="text/ng-template" id="recordModal.html">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-label">成績</h4>
</div>
<div class="modal-body">
  <div>
    <div class="row" ng-repeat="(key, value) in data.game_record">
      <div class="col-xs-4" ng-if="key == 'win_count'">
        勝数：{{value}}
      </div>
      <div ng-if="key == 'lose_count'">
        負数 : {{value}}
      <div>
      <div ng-if="key == 'draw_count'">
        引き分け（無効）：{{value}}
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">閉じる</button>
</div>
</script>
