<div class="roulette row" ng-controller="RouletteCtrl">
  <div class="col-xs-4 col-xs-offset-1 roulette">
    <div ng-if="!stop_roulette" class="cat-walk">
      <div id="img"></div>
    </div>
    <div ng-show="stop_roulette && cat_stanby" class="cat-stanby">
      <%= image_tag("cat_stanby.png") %>
    </div>
    <div ng-if="!stop_roulette || cat_stanby" ng-click="click_roulette()">
      <%= image_tag("roulette2.png", id: 'moto') %>
    </div>
    <div ng-show="stop_roulette && !cat_stanby">
      <div class="kitano">
        <%= image_tag("cat_with_tie.png", class: "cat-with-tie") %>
      </div>
    </div>
  </div>
  <div class="col-xs-4" ng-if="!stop_roulette">
    <%= image_tag("wedding.png") %>
  </div>
  <div class="col-xs-4 roulette_result" ng-if="stop_roulette" ng-class="{roulette_white: isWhite, roulette_red: ! isWhite}">
    {{stopColor}}
  </div>
  <div class="col-xs-2 panel-group">
    <div class="panel panel-success" ng-show="isResult()">
      <div class="panel-heading result-history-head">
        履歴
      </div>
      <div class="panel-body result-history-body">
        <div ng-repeat="result in resultArray" class="row">
          <div class="result_count col-xs-6">
            {{$index + 1}}回目
          </div>
          <div class="result-color col-xs-6 fa fa-flag" 
               ng-class="{roulette_white: result[1] == '白', 
               roulette_red: result[1] == '紅'}">
            {{result[1]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
