<div class="roulette row" ng-controller="RouletteCtrl">
  <div class="col-md-6 roulette">
    <div class="row">
      <div class="col-xs-12" id="img"></div>      
      <div class="col-xs-12" ng-click="click_roulette()">
        <%= image_tag("roulette.png", id: 'moto') %>
      </div>
    </div>
  </div>
</div>
