<div ng-controller="GameLogCtrl" ng-init="init()">
  <div class="row">
    <div class="col-md-2">
      <h1>Ranking</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-2">
      <div class="row">
        <div class="col-xs-12">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              game一覧
            </a>

            <a href="#" 
               class="list-group-item"
               ng-class="{'list-group-item-info': 'all' == boolean_active}"
               ng-click="click_active_all()">全てのgame
            </a>
            <a href="#" 
               class="list-group-item" 
               ng-class="{'list-group-item-info': $index == boolean_active}" 
               ng-click="click_active($index)" 
               ng-repeat="game in all_games.game_list">{{ game.game_name }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-10" ng-show="'all' == boolean_active">
      <%= render 'game_logs/game_ranking_all' %>
    </div>
    <div ng-repeat="game in all_games.game_list">
      <div class="col-sm-7 col-md-10" ng-show="$index == boolean_active">
        <%= render 'game_logs/game_ranking', locals: { id: "{{boolean_active}}" } %>
      </div>
    </div>
  </div>
</div>
