// Place all the styles related to the PelmanismResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
  display:inline-block;
  background-color: rgb(255, 255, 255);
}
.result-area{
  white-space: nowrap;
  min-height: 130px;
  margin-bottom: 10px;
  background-color: rgba(63, 177, 207, 0.2)
}
.pea-card-area{
  display: inline-block;
  margin-right: 17px;
}
.card-pea1{
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5px;
  display:inline-block;
  border: 1px solid rgb(130, 131, 129);
  background-color: rgb(255, 255, 255);
}
.card-pea2{
  box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.4);
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  display:inline-block;
  border: 1px solid rgb(130, 131, 129);
  background-color: rgb(255, 255, 255);
  top: 3px;
  left:10px;
  z-index: 20;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
}
.card-area{
  text-align: center;
  margin: auto;
  padding: 5px;
  min-width: 460px;
  min-height: 460px;
  background-color: rgba(121, 125, 127, 0.32);
}
.java1,.java2{
  background-image: url(/img/java.png);
}
.ruby1,.ruby2{
  background-image: url(/img/ruby.png);
}
.php1,.php2{
  background-image: url(/img/php.png);
}
.js1,.js2{
  background-image: url(/img/js.png);
}
.perl1,.perl2{
  background-image: url(/img/perl.png);
}
.pyson1,.pyson2{
  background-image: url(/img/pyson.png);
}
.html1,.html2{
  background-image: url(/img/html.png);
}
.haskell1,.haskell2{
  background-image: url(/img/haskell.png);
}
.ura{
  background-image: url(/img/ura.png);
}

//めくる動き
.turn{
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
  display:inline-block;
	width: 100px;
	height: 100px;
  margin: 5px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: -5px;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}
//カウンター
.counter{
  font-size: 3em;
  font-family: monospace;
  font-weight: bold;
  color: rgb(70, 71, 73);
}
//タイマー
.timer{
  font-size: 3em;
  font-family: monospace;
  font-weight: bold;
  color: rgb(70, 71, 73);
}
