div.roulette {
  background-color: #FF9900;

  div#moto {
    width:  80%;
    height: 80%;
  }

  #img {
    top: 50%; left: 50%;
    margin-left: 100px;
    margin-right: -77px;
    text-align: center;
    width: 110px; height: 8em;
    background-image: url("sprite.png");
  }

  div.cat-walk {
    .open {
      background-position: 0 8em;
    }
  }

  div.cat-stanby {
    margin-left: 85px;
  }
  
  div.kitano {
    height: 30em;
    width: 20em;
    position: relative;
    background-image: url("kitano_kyoukai.png");
  }

  img.cat-with-tie {
    bottom: 0;
    left: 8em;
    position: absolute;
  }

  img.wedding {
    height: 20em;
  }

  div.roulette_result {
    font-size: 20em;
    font-style: oblique;
  }

  div.roulette_white {
    color: white;
  }

  div.roulette_red {
    color: red;
  }

  div.result-history-head {
    background-color: white;
  }

  div.result-history-body {
    background-color: bisque;
  }
}
