div.roulette {
  background-color: #FF9900;

  div#moto {
    width:  80%;
    height: 80%;
  }

  #img {
    //position: absolute;
    top: 50%; left: 50%;
    margin-left: 100px;
    margin-right: -77px;
    text-align: center;
    width: 110px; height: 110px;
    background-image: url("sprite.png");
  }

  div.cat_stanby {
    margin-left: 85px;
  }
  .open {
    background-position: 0 110px;
  }

  div.roulette_result {
    font-size: 20em;
    font-style: oblique;
  }

  div.roulette_white {
    color: white;
  }

  div.roulette_red {
    color: red;
  }

  div.result-history-head {
    background-color: white;
  }

  div.result-history-body {
    background-color: bisque;
  }
}
