<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="sitename"><div class="container">
        <%= link_to "", "#", id: "logo" %>
      </div></div>
      <nav>
        <ul class="nav navbar-nav pull-right">
        <li><a href="#">
               <i class="fa fa-home"></i>  Home</a></li>
        <li><a href="#about">
               <i class="fa fa-info"></i>  About</a></li>
        <li><a href="#ranking">
              <i class="fa fa-comments-o"></i>  Ranking</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
